@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$main-color: #326da8;

*{
  margin: 0;
  padding: 0;
}

body{
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.main-card{
  transition: all .3s;
}

.main-card:hover{
  transform: scale(1.05);
}

.card-title{
  color: $main-color;
}

#filter{
  margin-top: 30px;
}