<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend Angular</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <header class="text-center">
    <img src="assets/logo.png" width="100px" alt="">
  </header>
  <main>
    <div class="container">

      <section id="filter">
        <div class="col-md-12">
          <div class="d-flex flex-row flex-wrap">
            <div class="col-md-4">
              <div class="form-group">
                <label for="start_date">Start Date</label>
                <input [(ngModel)]="start_date" (change)="filterByDate()" type="date" id="start_date" name="start_date" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="end_date">End Date</label>
                <input [(ngModel)]="end_date" (change)="filterByDate()" type="date" id="end_date" name="end_date" class="form-control">
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </section>

      <section id="contents">
        <div class="col-md-12">
          <div class="d-flex flex-row flex-wrap">
            <div class="col-md-4 mt-4" *ngFor="let content of contents">
              <div class="card main-card" style="width: 18rem;">
                <img src="{{content.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{content.title}}</h5>
                  <p class="card-text">
                    {{content.description}}<br><br>
                    Start at: {{content.start}}<br>
                    End at: {{content.end}}<br><br>
                    Recurrence: {{content.recurrence}}<br>
                    Cost: {{content.costs}}<br><br>
                    Venue: {{content.venue.name}}<br>
                    Zip: {{content.venue.zip}}<br>
                    City: {{content.venue.city}}<br>
                    Street: {{content.venue.street}}
                  </p>
                  <a href="{{content.link}}" target="blank" class="btn btn-primary mt-2">Veja mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    </div>
  </main>
  <footer></footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>